    /* Base */

    .header {

        font-family: var(--font-family-accent);

        &__inner {
            position: fixed;
            top: 15px;
            left: 20%;
            width: 60%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: min-content;
            padding: 10px 20px;
            background-color: var(--color-light);
            border-radius: 8px;
            z-index: 1000;
            border: var(--border);

            @include mobile {
                left: 5%;
                width: 90%;
            }
        }

        &__logo {
            font-weight: bold;
        }

        &__menu {
            &-list {
                margin: 0;
                padding: 0;
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 10px;
                list-style: none;
            }

            &-link {
                @include hover {
                    text-decoration: underline var(--color-dark) 0.5px;
                }
            }
        }


    } 
