
.hero {
    margin: 0;
    padding-top: 100px;
    background-color: var(--color-accent);
    color: var(--color-dark);
    font-family: var(--font-family-accent);
    display: flex;
    justify-content: start;
    position: relative;
    overflow: hidden;
    
}

.hero__content {
    display: grid;
    align-items: end;

}

.hero__text {
    padding-left: 50px;
    padding-bottom: 50px;
}

.hero__description {

    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 80%;
    letter-spacing: 10px;
    padding-top: 100px;
}

.hero__title {
    margin: 0;
    padding: 0;
    width: 616px;
    font-size: 128px;
    font-style: normal;
    font-weight: 400;
    line-height: 80%; 
}
/* 
.hero__image-container {
    position: relative;
    overflow: hidden;
} */

.hero__image {
    position: absolute;
    right: -40px;
    top: 250px;
    opacity: 40%;
}