---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="">
	<main>
		<p class="f2">Hello Open Sans!</p>

		<p class="f1">Hello Display!</p>
	</main>
</Layout>

<style>
	.f1 {
		font-family: var(--font-family-primary);
	}
	.f2 {
		font-family: var(--font-family-secondary);
	}
</style>
