---
import MainLayout from "../layouts/MainLayout.astro";
---
    <MainLayout>
        <section class="hero">
            <div class="hero__content">
                <div class="hero__image-container">
                    <img width="700" height="700" class="hero__image" src="../images/logo.webp" alt="Compony logo">
                </div>
                <div class="hero__text">
                    <h2 class="hero__description">noncommercial organization</h2>
                    <h1 class="hero__title">committee for rights and dignity</h1>
                </div>
            </div>
        </section>
        <section class="projects">
            <div class="card project-1">
                <h3 class="card__title">veterans assistance program</h3>
                <p class="card__text">
                    юридической поддержки ветеранам, включая консультации по правовым вопросам,
                    защиту их прав и интересов в суде, а также помощь в решении других юридических вопросов
                </p>

            </div>
            <div class="card project-2">
                <h3 class="card__title">pharus project</h3>
                <p class="card__text">
                    еженедельные уроки правовой грамматности для граждан
                </p>

            </div>
            <div class="card project-3">
                <h3 class="card__title">salut, camarad!</h3>
                <p class="card__text">
                    программа призвана обеспечить связь с ветеранами, предоставляя им необходимую поддержку и заботу
                </p>

            </div>
            <div class="card project-4">
                <h3 class="card__title">private practice</h3>
                <p class="card__text">
                    частные персональные косультаций по юридическим вопросам
                </p>
            </div>
            <div class="card double-card">
                <h3 class="card__title">about</h3>
                <p class="card__text">
                    more info about company and our contacts 
                </p>
                <img class="card__image" width="310" height="310" src="images/logo-en.png" alt="CDD Logo">
            </div>
        </section>
    </main>
</MainLayout>

<style lang="scss">
    @import '../styles/styles.scss'
</style>