<footer class="footer">
    <div class="footer__title-container">
        <h3 class="footer__title">CDD Moldova</h3>
        <p class="footer__text-small">&#169; 2024 CDD</p>
    </div>

    <div class="footer__table">
        <div class="footer__container">
            <p class="footer__text-small">go to</p>
            <ul class="footer__list">
                <li> <a class="footer__link footer__text-big" href="/">main</a></li>
                <li> <a class="footer__link footer__text-big" href="/">about</a></li>
            </ul>
        </div>
        <div class="footer__container">
            <p class="footer__text-small">socials</p>
            <ul class="footer__list">
                <li> <a class="footer__link footer__text-big" href="/">facebook</a></li>
            </ul>
        </div>
        <div class="footer__container">
            <p class="footer__text-small">e-mail</p>
            <p class="footer__text-big">cdd.moldova@gmail.com</p>
        </div>
    </div>
</footer>