<dialog class="mobile-overlay visible-mobile" id="mobileOverlay">
    <form class="mobile-overlay__close-button-wrapper" method="dialog">
      <button
        class="mobile-overlay__close-button cross-button"
        type="submit"
      >
        <span class="visually-hidden">Close navigation menu</span>
      </button>
    </form>
    <div class="mobile-overlay__body">
      <ul class="mobile-overlay__list">
        <li class="mobile-overlay__item">
          <a class="mobile-overlay__link" href="/">about us</a>
        </li>
        <li class="mobile-overlay__item">
          <a class="mobile-overlay__link" href="/">projects</a>
        </li>
        <li class="mobile-overlay__item">
          <a class="mobile-overlay__link" href="/">contacts</a>
        </li>
        <li>
            <div class="mobile-overlay__buttons control__buttons">
                <button class="control__button button">light</button>
                <button class="control__button button">en</button>
            </div>
        </li>
      </ul>
    </div>
</dialog>