---
import '../styles/index.css';
// import '../styles/light.css';
// import '../styles/dark.css';
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html class="page" lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="stylesheet" href="../styles/index.css">
		<link rel="stylesheet" href="../styles/light.css" media="(prefers-color-scheme: light)">
		<link rel="stylesheet" href="../styles/dark.css" media="(prefers-color-scheme: dark)">
	
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global>
	.page {
		background-color: var(--color-back-primary);
		color: var(--color-text-primary);
		height: 100%;
		font-family: var(--font-primary), serif;
	}
</style>
